.Input {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 20px;
    vertical-align: top;
}

.Input ~ .Input {
    margin-left: 10px;
}

.container {
    background-color: rgba(0,0,0,0.87);
    color: white;
    position: relative;
}

.container .name {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.Input .value {
    display: inline-block;
    padding: 10px;
    font-size: 35px;
}

.Input input {
    width: 80%;
    margin: 5px;
}

.Matrix input {
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 10px;

    text-align: center;
    border: 0px;
}

.Matrix input~input {
    border-left: 1px solid rgba(0,0,0,0.2);
}

.Matrix2D {
    /*border: 0;*/
}

.Matrix2D input {
    width: 20px;
    height: 100%;
    margin: 1px;
    padding: 10px;

    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
}
