.OutputHolder {
    display: inline-block;
    margin-top: 20px;
    /*width: 200px;*/
}

.Matrix .rowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.Output.Matrix .row {
    display: inline-block;
    padding: 5px;
    width: 20px;
    font-size: 1rem;
    flex: 1 1 20px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 1px;
}

.Output {
/*    margin: 5px;*/
    border: 2px solid #9b59b6;
    vertical-align: top;
    height: 100%;
}

.parameters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.parameters .DropDownBar {
    display: inline-block;
    width: 50%;
    /*min-width: 75px;*/
    flex: 1 1;
}

.parameters .DropDownBar ~ .DropDownBar {
    border-left: 1px solid rgba(0,0,0,0.2);
}

.Box .row {
    padding: 10px;
}

nav.fixed {
    position: fixed;
    width: calc(100% - 40px);
    margin-left: 0px;
    padding: 0;
    top: 0;
    z-index: 500;
    background-color: white;
}

.my-pretty-chart-container {
    overflow:auto;
}
