body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Roboto";
}

.App {
    text-align: center;
    color: rgba(0,0,0,0.87);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    display: block;
    margin: 0;
    background-color: rgba(0,0,0,0.0);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /*height: 45px;*/
    /*padding: 1px;*/
    color: rgba(0,0,0,0.87);
}

.App-header h2 {
    margin: 0;
    font-size: 1rem;
    padding: 15px;
    font-weight: normal;
}

.App-intro {
    font-size: 12px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.Grid1D {
    border: 1px dotted #2c3e50;
    position: relative;
    line-height: 0px;
    margin: 10px;
    display: inline-block;
}

.BlackSquare {
    height: 20px;
    width: 20px;
    background-color: black;
    display: inline-block;
    border: 1px solid white;
}

.WhiteSquare {
    height: 20px;
    width: 20px;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
}

.ModelForm {
    /*display: inline-block;*/
    border: 1px solid #bdc3c7;
    /*max-width: 500px;*/

    flex: 0 0 250px;

    /*position: absolute;*/
    left: 0;
    margin: 20px;
}

.DropDownBar {
    border: none;
    border-bottom: 1px solid #bdc3c7;
    width: 100%;
    padding: 5px;
}

.ModelDisplay {
    font-size: 22px;
    padding: 20px;
    color: #ecf0f1;
    background-color: rgba(0,0,0,0.87);
    text-transform: lowercase;
}

.ModelArgument:nth-of-type(2n+1) {
    background: rgba(0,0,0,0.02);
}

.ModelArgument {
    padding: 10px 15px;
    text-align: left;
    border-top: 1px solid #bdc3c7;

    transition: background-color 0.1s, border 0.1s;
}

.ModelArgument:hover {
    border: 1px solid white;
    background-color: rgba(0,0,0,0.2);

    transition: background-color 0.1s, border 0.1s;
}

.ModelArgumentName {
    color: #3498db;
    padding-right: 20px;
}

.ModelArgumentType {
    float: right;
    font-style: italic;
}

.ModelForm > .selected {
    border: 2px solid #303F9F;

    transition: border 0.1s;
}

.ModelButton button {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0,0,0,0.87);
    /*background-color: white;*/
    padding: 10px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.2);

    font-weight: bold;
    color: #f1c40f;
    text-transform: uppercase;
    text-decoration: underline;

    transition: background-color 0.1s;
}

.ModelButton button:hover {
    background-color: #f1c40f;
    /*border: 1px solid #f1c40f;*/
    color: white;
    transition: background-color 0.1s;
}

.OutputHolder {
    display: inline-block;
    margin-top: 20px;
    /*width: 200px;*/
    border: 1px solid #bdc3c7;
    flex: 0 0 200px;
}

.disabled {
    display: none !important;
}

.InputHolder {
    flex: 1 0 0;
}
